main{
  min-height: 80vh;
}
.productImg{
  height: 300px;
}
#root > div > main > div > div > div:nth-child(2) > div > div > table > thead:nth-child(3){
  display: none;
}
.left-sidebar{
  color: white!important;
}

.bannerOne{
  height: 150px;
}
.bannerOne-innerOne{
  width: 70%;
  margin: 0;
  float: left;
  background-color: rgb(51, 94, 146);
  font-style: oblique;
  padding: 20px;
  border-radius: 10px;
}
.createUserForm{
  width: 80%;
}
.label{
  padding: 10px;
}